$vp-padding: 1.5rem;
$default-margin: 1rem;


* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}




// ELEMENTS

h1, h2, h3, p, .challenger {
    margin-top: 0;
    margin-bottom: $default-margin;
}

h2 {
    font-size: 1.25rem;
}

button {
    flex-grow: 1;
    margin: 0;
    .btn-check-text {display: none;}

    &.btn-back {flex-grow: 0; width: 4rem;}
    &.disabled {opacity: 0.5;}
    &.check-answer {
        .btn-skip-text {display: none;}
        .btn-check-text {display: inline;}
    }
}

fieldset {
    border: none;
    padding: 0;
}

input {
    width: 100%;
    margin: 0;
}

label {
    display: block;
}



// CONTAINERS

.quiz-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.quiz-container {
    width: 100%;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.progress {
    width: 100%;
    height: 6rem;
    flex-shrink: 0;
}

.progress-bar {
    height: 0.5rem;
    background-color: lightgrey;
}

.progress-indicator {
    height: 100%;
    width: 20%;
    background-color: grey;
}

.progress-content {
    padding: $vp-padding;
    display: flex;
    justify-content: space-between;
}

.progress-content-right {
    text-align: right;
}

.sections-container {
    flex-grow: 1;
    height: calc(100% - 4rem);
    position: relative;
}

section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    opacity: 0;

    &.active {display: flex; opacity: 1;}
}

.section-content {
    padding: $vp-padding;
}

.section-controls {
}

.controls-wager {
    padding: $vp-padding;
    border-top: 1px solid black;

    > *:not(:last-child) {margin-bottom: $default-margin;}

}

.wager-fields {
    display: flex;
    fieldset {flex-grow: 1;}
}

.slider-wager {

}

.controls-nav {
    display: flex;
    height: 4rem;
}



// QUESTION

.q-choice-set {
    > * {margin-bottom: $default-margin;}
    fieldset {display: flex;}
}

.q-choice {
    display: block;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0.675rem;
}



// SPECIAL

.challenger {
    padding: 0.5rem;
    background-color: lightgrey;
}