// VARIABLES

$vp-padding: 1.5rem;
$default-margin: 1rem;




// BASE

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}






// ELEMENTS

h1, h2, h3, p, .challenger {
    margin-top: 0;
    margin-bottom: $default-margin;
}

h2 {
    font-size: 1.25rem;
}

button {
    flex-grow: 1;
    margin: 0;
    .btn-check-text {display: none;}
    .btn-next-text {display: none;}

    &.btn-back {flex-grow: 0; width: 4rem;}
    &.disabled {opacity: 0.5;}
    &.check-answer {
        .btn-skip-text {display: none;}
        .btn-check-text {display: inline;}
    }
    &.continue {
        .btn-skip-text {display: none;}
        .btn-next-text {display: inline;}
    }

}

fieldset {
    border: none;
    padding: 0;
}

input {
    width: 100%;
    margin: 0;
}

label {
    display: block;
}

figure {
    margin: 0;
    padding: 0;
}

// CONTAINERS

.quiz-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.quiz-container {
    width: 100%;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.sections-container {
    flex-grow: 1;
    height: calc(100% - 4rem);
    position: relative;
}

// PROGRESS

.progress {
    width: 100%;
    height: 6rem;
    flex-shrink: 0;
    padding: $vp-padding;

    &.disabled {
        .progress-indicator {opacity: 0;}
        .progress-content {opacity: 0;}
    }

}

.progress-bar {
    height: 0.5rem;
    background-color: lightgrey;
    margin-bottom: $default-margin;
}

.progress-indicator {
    height: 100%;
    width: 20%;
    background-color: grey;
}

.progress-content {
    display: flex;
    justify-content: space-between;
}

.progress-content-right {
    text-align: right;
}





// SECTION

section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    opacity: 0;

    &.active {display: flex; opacity: 1;}

    &.answer {
        input, label {
            opacity: 0.5;
            pointer-events: none;
        }

        fieldset {
            pointer-events: none;
        }
    }
}

.section-content {
    padding: $vp-padding;
    overflow-x: none;
    overflow-y: scroll;

    &::-webkit-scrollbar {display: none;}
    -ms-overflow-style: none;
    scrollbar-width: none;

}





// CONTROLS

.section-controls {
    position: relative;
}

.controls-powerups {
    position: absolute;
    width: 100%;
    padding: 0 $vp-padding;
    top: 0;
    left: 0;
    transform: translateY(-3rem);

    display: none;
    justify-content: center;

    &.show {display: flex;}

    button {flex-grow: 0;}
}


.controls-wager {
    padding: $vp-padding;
    border-top: 1px solid black;

    > *:not(:last-child) {margin-bottom: $default-margin;}

}

.wager-fields {
    display: flex;
    fieldset {flex-grow: 1;}
}

.slider-wager {

}

.controls-nav {
    display: flex;
    height: 4rem;
}





// QUESTION

.q-number {
    width: fit-content;
    margin-bottom: $default-margin;
    padding: 0.5rem 0.75rem;
    background-color: lightgrey;
}

.q-choice-set {

    margin-bottom: $default-margin;

    > *:not(:last-child) {margin-bottom: $default-margin;}
}

.q-fieldset {
    display: flex;
    position: relative;
}

.q-choice {
    display: block;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0.675rem;
}

.q-result-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    pointer-events: none;
    width: 13px;
    height: 13px;

    &.correct-selected {
        display: block;
        background-color: green;
    }
    &.correct-blank {
        display: block;
        background-color: lightblue;
    }
    &.incorrect {
        display: block;
        background-color: salmon;
    }
}



// SPECIAL

.challenger {
    padding: 0.5rem;
    background-color: lightgrey;
}